*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9f9f9;
    font-size: 20px;
}

.generate-container{
    height:100vh;
    width:100%;
    background: #171717;
    display: flex;
    padding: 30px 80px;
    background-image: none;
    justify-content: center;
    align-items: center;
}

.generate-contain{
    height:100%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gen-image-info{
    margin-bottom: 20px;
    padding-right: 20px;

}

.generate-image{
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
    
}

#jupiter-images{
    height:180px;
    width:600px;
    border: solid #8f8f8f 2px;
    border-radius: 10px;
    object-fit:contain;
}


.gen-img-btns{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
}

.gen-img-heading{
    font-size:3rem;
    margin-bottom: 20px;
}

.gen-img-title{
    height:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.description{
    font-size: 1rem;
}

#gen-img-btn1, #gen-img-btn2{
    transition: all .1s ease-in;
}

#gen-img-btn1:hover, #gen-img-btn2:hover{
    /* box-shadow: 0px 9px 15px 10px rgba(0,0,0,0.35); */
    transform: translateY(-5px);
}



@media only screen and (max-width: 1260px){
    .gen-img-heading{
        font-size:2.4rem;
        margin-bottom: 20px;
    }
    .description{
        font-size: .9rem;
    }
}

@media only screen and (max-width: 1180px){
    .generate-container{
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 1180px){
    .generate-contain{
        flex-direction: column-reverse;

    }
}

@media only screen and (max-width: 600px){
    .generate-container{
        padding: 40px 30px;
    }
    #jupiter-images{
        height:135px;
        width:450px;
    } 
    .gen-img-heading{
        font-size:2rem;
        margin:20px auto;
    }
    .description{
        font-size: .8rem;
    }
}